body {
	font-family: Arial, sans-serif;
	background-color: #4CAF50;
}
h1{
	color: rgb(0, 0, 0);
	font-size: 50px;
}
p{
	color: rgb(0, 0, 0);
	font-size: 30px;
}
form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin-bottom: 20px;
}

label {
	margin-top: 10px;
}

input[type="number"] {
	padding: 15px;
	margin-left: 10px;
	width: 100%;
}

button {
	margin-top: 20px;
	padding: 20px;
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#results {
	margin-top: 20px;
}
.center-form{

	justify-content: center;
	
	display: flex;
	
	margin: 40px 50px;
	
	border: 3px solid rgb(0, 0, 0);
	
	padding: 30px;
	
	font-size: 30px;
	background-color: rgb(131, 240, 238);
	
	}
